<h2>Login</h2>

<span class="error"><%= flash[:message] %></span> <br> 

<form class="form" action="/login" method="post">
  <p class="form-description"> Username: <input class="form-input" type="text" name="username" value="<%= @user && @user.username %>"></p>
  <p class="form-description"> Password: <input class="form-input" type="password" name="password" ></p>
  <input class="button" type="submit" value="Log In">
</form></br>

<div class="redirect-text">
  Don't have an account yet? Sign up <a class="redirect-link" href="/signup">here</a>.
</div>