<h2>Sign Up</h2>

<% if flash[:message] %>
<p class="error"> <%= flash[:message] %> </p>
<% end %>

<form class="form" action="/signup" method="POST">
  <p class="form-description">Username: <input class="form-input" type="text" name="username" id="username"></p>
  <p class="form-description">Password: <input class="form-input" type="password" name="password" id="password"></p>
  <input class="button" type="submit" value="Sign Up">
</form></br>

<div class="redirect-text">
  Already have an Account? Log in <a class="redirect-link" href="/login">here</a>.
</div>